<div id='sign'>  
  <h1>Professor</h1>

  <%= form_for(:session, :url => '/session/retry/1') do |f| %>
    <div class="field">
      Email: <br />
      <%= f.text_field :email, :size => 16, :maxlength => 50, :class => 'text'  %>
    </div>
    <div class="field">
      Password: <br />
      <%= f.password_field :password, :size => 16, :maxlength => 50, :class => 'text' %>
    </div>
    <div class="actions">
      <%= f.submit "Sign in" %>
    </div>
  <% end %>
  <br />
  <p>New user? <%= link_to "Sign up now!", signup1_path %></p>
</div>
