<h1>Listing users</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Year</th>
    <th>Concentration</th>
    <th>Secondary</th>
    <th>GPA</th>
    <th>Resume</th>
    <th>Privacy</th>
    <th>Interests</th>
    <th>Title</th>
    <th>Location</th>
    <th>Department</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.firstname %></td>
    <td><%= user.lastname %></td>
    <td><%= user.email %></td>
    <td><%= user.phone %></td>
    <td><%= user.year %></td>
    <td><%= user.concentration %></td>
    <td><%= user.secondary %></td>
    <td><%= user.gpa %></td>
    <td><%= user.resume %></td>
    <td><%= user.privacy %></td>
    <td><%= user.interests %></td>
    <td><%= user.title %></td>
    <td><%= user.location %></td>
    <td><%= user.department %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
