<h1>Listing jobs</h1>
<h2>Filter By </h2> 
<%= form_tag({:controller => "jobs", :action => "index"}, :method => "get") do %>
  <%= label_tag(:department, "Department")%>
  <%= select_tag "department", options_for_select(@departments) %>
  <%= submit_tag("Filter") %>
<% end %>
 
<table>
  <tr>
    <th>Position</th>
    <th>Description</th>
    <th>Professor</th>
    <th>Location</th>
    <th>Duration</th>
    <th>Department</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.position %></td>
    <td><%= job.description %></td>
    <td><%= job.user.firstname %> <%=job.user.lastname%></td>
    <td><%= job.location %></td>
    <td><%= job.duration %></td>
    <td><%= job.user.department %></td>
    <td><%= link_to 'Show', job %></td>   
    <% if User.find(remember_token[0]).usertype == 1%>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %> 
   </tr> 
<% end %>
</table>

<br />

 
