<h1>Jobs</h1>
<%= form_tag({:controller => "jobs", :action => "index"}, :method => "get") do %>
  <%= label_tag(:department, "Department")%>
  <%= select_tag "department", options_for_select(@departments) %>
  <%= submit_tag("Filter") %>
  <% end %>

<%= form_tag jobs_path, :method => 'get', :id => "jobs_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Description", :name => nil %>
  </p>
<div id="jobs"><%= render 'jobs' %></div>
<% end %>


 
