<div id='left'>
<h1> Job Description </h1>
<div id='leftin'>
<p>
  <b>Title:</b>
  <%= @job.title %>
</p>

<p>
  <b>Funding:</b>
  <%= @job.funding %>
</p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>

<p>
  <b>Duration:</b>
  <%= @job.duration %>
</p>

<p>
  <b>Position:</b>
  <%= @job.position %>
</p>

<p>
  <b>Location:</b>
  <%= @job.location %>
</p>
  <% if remember_token[0] == @job.user.id %>
    <div id="edit">
      <%= link_to 'Edit', edit_job_path(@job) %>
    </div>
  <%elsif User.find(remember_token[0]).usertype == 0%>
  <div id='edit'>
    <%= button_to 'Apply', new_submission_path + "/" + @job.id.to_s %>
  </div>
  <%end%>
</div>
</div>

<% if User.find(remember_token[0]).usertype == 1%>
  <div id='right'> 
  <h1>Applications To This Job</h1>
  <div id='rightin'>
  <table>
    <tr>
      <th>Applicant Name</th>
      <th></th>
    </tr>

  <% @job.submissions.each do |submission| %>
    <tr>
      <td><%= submission.user.firstname %> <%= submission.user.lastname %></td>
      <td><%= link_to 'Show', submission %></td>
    </tr>
  <% end %>
  </table>
  </div>
  </div>
<% end %>
