<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :usertype %>
  </div>
  <div id="left">
  <div class="field">
    <%= f.label :firstname, "First Name" %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname, "Last Name" %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :phone, "Phone Number" %><br />
    <%= f.text_field :phone %>
  </div>
  </div>
  <div id="right">
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :department %><br />
    <%= f.select :department, User::DEPARTMENTS, :prompt => "Select primary affiliation" %>
  </div>
  </div>
  <div id="bottom">
  <div class="field">
    <%= f.label :interests %><br />
    <%= f.text_area :interests %>
  </div>
  <div class="field">
    <%= f.label :privacy %><br />
    <%= f.check_box :privacy %>
  </div>
  <div class="field">
    <label>Confirm Password</label> <br />
    <%= f.password_field :old_password, :size => 30 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
