<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="pretty1">
  <tr>
    <th><%= sortable "firstname", "First Name" %></th>
    <th><%= sortable "lastname", "Last Name" %></th>
    <th><%= sortable "email" %></th>
    <th><%= sortable "phone" %></th>
    <% if User.find(remember_token[0]).usertype != 0 %>
        <th><%= sortable "year" %></th>
        <th><%= sortable "concentration" %></th>
        <th><%= sortable "secondary" %></th>
        <th><%= sortable "gpa", "GPA" %></th>
    <% end %>
    <% if User.find(remember_token[0]).usertype != 1 %>
        <th><%= sortable "title" %></th>
        <th><%= sortable "location" %></th>
        <th><%= sortable "department" %></th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @users.each do |user| %>
  <tr onMouseover="this.style.color = '#C41414';" onMouseout="this.style.color = 'black';" class="odd">
    <td class="special"><%= user.firstname %></td>
    <td><%= user.lastname %></td>
    <td><%= user.email %></td>
    <td><%= user.phone %></td>

    <% if User.find(remember_token[0]).usertype != 0 %>
        <td><%= user.year %></td>
        <td><%= user.concentration %></td>
        <td><%= user.secondary %></td>
        <td><%= user.gpa %></td>
    <% end %>
    <% if User.find(remember_token[0]).usertype != 1 %>
        <td><%= user.title %></td>
        <td><%= user.location %></td>
        <td><%= user.department %></td>
    <% end %>
    <td><%= link_to 'Show', user %></td>
    <% if remember_token[0] == user.id || User.find(remember_token[0]).usertype == 2 %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <% else %>
       <td></td>
       <td></td>
    <% end %>
  </tr>
  <tr>
    <% if User.find(remember_token[0]).usertype != 0 %>
      <td colspan = '11'> <%= user.resume %> </td>
    <% else %>
      <td colspan = '10'> <%= user.interests %> </td>
    <% end %>
  </tr>
<% end %>
</table>
<%= will_paginate @users %>
