<% if User.find(remember_token[0]).usertype != 0 %>
<h1>Students</h1>
<% elsif User.find(remember_token[0]).usertype != 1%>
<h1>Faculty</h1>
<%end%>
<% if User.find(remember_token[0]).usertype == 0 %>
    <h2>Filter By </h2>
    <%= form_tag({:controller => "users", :action => "index"}, :method => "get") do %>
      <%= label_tag(:department, "Department")%>
      <%= select_tag "department", options_for_select(@departments) %>
      <%= submit_tag("Filter") %>
    <% end %>
<% elsif User.find(remember_token[0]).usertype == 1 %>
    <h2>Filter By </h2>
    <%= form_tag({:controller => "users", :action => "index"}, :method => "get") do %>
      <%= label_tag(:concentration, "Concentration")%>
      <%= select_tag "concentration", options_for_select(@concentrations) %>
      <%= submit_tag("Filter") %>
    <% end %>
<% end %>
<%if User.find(remember_token[0]).usertype == 1 %>
  <%columns = [{:type => 'html', :class => "first"}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html', :class => "last"}] %>
<%elsif User.find(remember_token[0]).usertype == 0 %>
  <%columns = [{:type => 'html', :class => "first"}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html', :class => "last"}] %>
<%else%> 
  <%columns = [{:type => 'html', :class => "first"}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html', :class => "last"}] %>
<%end%>
<%= raw(datatable(columns, {:sort_by => "[0, 'desc']", :processing => image_tag("spinner.gif") })) %>
<table class='datatable'>
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <% if User.find(remember_token[0]).usertype != 0 %>
        <th>Year</th>
        <th>Concentration</th>
        <th>Secondary</th>
        <th>GPA</th>
        <th>Resume</th>
    <% end %>
    <% if User.find(remember_token[0]).usertype != 1 %>
        <th>Interests</th>
        <th>Title</th>
        <th>Location</th>
        <th>Department</th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
<tbody>
<% @users.each do |user| %>
  <tr>
    <td><%= user.firstname %></td>
    <td><%= user.lastname %></td>
    <td><%= user.email %></td>
    <td><%= user.phone %></td>

    <% if User.find(remember_token[0]).usertype != 0 %>
        <td><%= user.year %></td>
        <td><%= user.concentration %></td>
        <td><%= user.secondary %></td>
        <td><%= user.gpa %></td>
        <td><%= user.resume %></td>
    <% end %>
    <% if User.find(remember_token[0]).usertype != 1 %>
        <td><%= user.interests %></td>
        <td><%= user.title %></td>
        <td><%= user.location %></td>
        <td><%= user.department %></td>
    <% end %>
    <td><%= link_to 'Show', user %></td>
    <% if remember_token[0] == user.id || User.find(remember_token[0]).usertype == 2 %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New User', new_user_path %>
