<h1>Listing users</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <% if User.find(remember_token[0]).usertype != 0 %>
        <th>Year</th>
        <th>Concentration</th>
        <th>Secondary</th>
        <th>GPA</th>
        <th>Resume</th>
    <% end %>
    <% if User.find(remember_token[0]).usertype != 1 %>
        <th>Interests</th>
        <th>Title</th>
        <th>Location</th>
        <th>Department</th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.firstname %></td>
    <td><%= user.lastname %></td>
    <td><%= user.email %></td>
    <td><%= user.phone %></td>

    <% if User.find(remember_token[0]).usertype != 0 %>
        <td><%= user.year %></td>
        <td><%= user.concentration %></td>
        <td><%= user.secondary %></td>
        <td><%= user.gpa %></td>
        <td><%= user.resume %></td>
    <% end %>
    <% if User.find(remember_token[0]).usertype != 1 %>
        <td><%= user.interests %></td>
        <td><%= user.title %></td>
        <td><%= user.location %></td>
        <td><%= user.department %></td>
    <% end %>
    <td><%= link_to 'Show', user %></td>
    <% if remember_token[0] == user.id || User.find(remember_token[0]).usertype == 2 %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
