<% if User.find(remember_token[0]).usertype != 0 %>
  <h1>Students</h1>
<% elsif User.find(remember_token[0]).usertype != 1%>
  <h1>Faculty</h1>
<%end%>

<% if User.find(remember_token[0]).usertype == 0 %>
    <%= form_tag({:controller => "users", :action => "index"}, :method => "get") do %>
      <%= label_tag(:department, "Department")%>
      <%= select_tag "department", options_for_select(@departments) %>
      <%= submit_tag("Filter") %>
  <% end %>
<% elsif User.find(remember_token[0]).usertype == 1 %>
    <%= form_tag({:controller => "users", :action => "index"}, :method => "get") do %>
      <%= label_tag(:concentration, "Concentration")%>
      <%= select_tag "concentration", options_for_select(@concentrations) %>
      <%= submit_tag("Filter") %>
    <% end %>
<% end %>

<%= form_tag users_path, :method => 'get', :id => "users_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <% if User.find(remember_token[0]).usertype == 0 %>	
      <%= submit_tag "Search Interests", :name => nil %>
    <% else %>
      <%= submit_tag "Search Resumes", :name => nil %>	
    <% end %>  	
  </p>
  <div id="users"><%= render 'users' %></div>
<% end %>

