<p id="notice"><%= notice %></p>
<% if User.find(remember_token[0]).usertype == 1%>
<div style = 'float: right;'> 
<%end%>
<p>
  <b>Job Title:</b>
  <%= @submission.job.title %>
</p>

<p>
  <b>Cover letter:</b>
  <%= @submission.coverletter %>
</p>
<% if User.find(remember_token[0]).usertype == 1%>
</div>
<%end%>
<div style = 'float: left;'>
<% if User.find(remember_token[0]).usertype == 1%>
  <h1>Student Profile</h1>
<p>
  <b>Firstname:</b>
  <%= @submission.user.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @submission.user.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @submission.user.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @submission.user.phone %>
</p>

<p>
  <b>Year:</b>
  <%= @submission.user.year %>
</p>

<p>
  <b>Concentration:</b>
  <%= @submission.user.concentration %>
</p>

<p>
  <b>Secondary:</b>
  <%= @submission.user.secondary %>
</p>

<p>
  <b>Gpa:</b>
  <%= @submission.user.gpa %>
</p>

<p>
  <b>Resume:</b>
  <%= @submission.user.resume %>
</p>
<% end %>
</div>
<% if User.find(remember_token[0]).usertype == 0%>
<%= link_to 'Edit', edit_submission_path(@submission) %> |
<% end %>
<%= link_to 'Back', user_profile_path(remember_token[0]) %>
