<% if User.find(remember_token[0]).usertype == 1%>
<div id='right'>
<h1>Submission</h1>
<div id='rightin'>
<%else%>
<div id='left'>
<h1>Submission</h1>
<div id='leftin'> 
<%end%>
<p>
  <b>Job Title:</b>
  <% if @submission.job? %>
    <%= @submission.job.title %>
  <% else %>
    (job deleted)
  <% end %>
</p>

<p>
  <b>Cover letter:</b>
  <%= @submission.coverletter %>
</p>
<% if User.find(remember_token[0]).usertype == 0%>
  <div id='edit'>
    <%= link_to 'Edit', edit_submission_path(@submission) %> 
  </div>
<% end %>
</div>
</div>
<% if User.find(remember_token[0]).usertype == 1%>
<div id='left'>  
<h1>Student Profile</h1>
<div id='leftin'>
<p>
  <b>Firstname:</b>
  <%= @submission.user.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @submission.user.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @submission.user.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @submission.user.phone %>
</p>

<p>
  <b>Year:</b>
  <%= @submission.user.year %>
</p>

<p>
  <b>Concentration:</b>
  <%= @submission.user.concentration %>
</p>

<p>
  <b>Secondary:</b>
  <%= @submission.user.secondary %>
</p>

<p>
  <b>Gpa:</b>
  <%= @submission.user.gpa %>
</p>

<p>
  <b>Resume:</b>
  <%= @submission.user.resume %>
</p>
</div>
</div>
<% end %>
