<header>
  <%if signed_in?%>
    <div id="logo2"> 
      <%= link_to logo, user_profile_path(remember_token[0].to_s) %>
    </div>
    <div id='linkbar'>
      <%= link_to "Profile", user_profile_path(remember_token[0].to_s) %> |
      <%= link_to "Change Password", changepassword_user_path(remember_token[0].to_s) %> |
      <% if User.find(remember_token[0]).usertype == 0 %>
        <%= link_to 'Jobs', jobs_path %> | 
        <%= link_to 'Faculty', users_path %> |
      <%else%>
        <%= link_to 'New Job', new_job_path %> |
        <%= link_to 'Students', users_path %> |
      <%end%>
      <%= link_to 'Sign Out', signout_path, :method => :delete %>
    </div>
  <%else%>
    <div id="logo">
      <%= link_to root_path do %>
        <img src='/images/largelogo.png'>
      <% end %>
    </div>
  <% end %>
</header>
