<!DOCTYPE html>
<html>
<head>
  <title>HarvardResearch | <%= @title %></title>

   <!--[if lt IE 9]>
   <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->
   <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cabin:bold', :media => 'screen' %>
   <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
   <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
   <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= javascript_include_tag 'jquery', 'rails', 'application' %>
  <%= csrf_meta_tag %>
  <% if !signed_in? %>
    <style>
      div#wrapper0 {
        background-image:url('/images/MortarBoard.jpg');
        height: 400px;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
    <% else %>
    <script type="text/javascript">
      $(document).ready(function(){
          $(".pretty tr:odd").addClass("odd");
          $(".pretty tr:not(.odd)").hide();
          $(".pretty tr:first-child").show();
        
          $(".pretty tr.odd").click(function(){
              $(this).next("tr").toggle();
          });
      });
    </script>
    <% end %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20932570-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
  <div class="container"> 
    <div id="wrapper">
      <%= render 'layouts/header' %>
    <% if !signed_in? %>
      <div id="wrapper0">
    <% else %>
      <div id="wrapper1">
    <% end %>
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <% if signed_in? %>
      <div id='footer'>
      </div>
    <% end %>
  </div>
</body>


</html>
