<!DOCTYPE html>
<html>
<head>
  <title>HarvardResearch | <%= @title %></title>

   <!--[if lt IE 9]>
   <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->
   <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
   <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
   <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <% if !signed_in? %>
    <style>
      div#wrapper {
        background-image:url('/images/MortarBoard.jpg');
        width: 800px;
      }
    </style>
  <%end%>
</head>
<body>
  <div class="container"> 
      <%= render 'layouts/header' %>
    <div id="wrapper">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</body>


</html>
